<h6>New Arrivals</h6>
<div class="row">
  <div
    *ngFor="let product of products"
    class="col-6 col-sm-4 col-md-3 col-lg-2"
  >
    <div class="card" style="width: 8rem; height: 7.1rem">
      <a style="cursor: pointer" (click)="onClickNewArrival(product.id)">
        <img
          src="{{ product.img }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
      </a>
    </div>
    <h6>
      <p class="badge badge-success card-details">{{ product.discount + "%" }} Off</p>
      <p>{{ product.name }} | {{ product.price | currency : "INR" }}</p>
    </h6>
  </div>
</div>
